.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
    /* background-color: var(--secondary_color_hero); */
    /* background-image: radial-gradient(circle at center, 
    #597445 10%, 
    #729762 50%, 
    #4d4c38 100%,
    #fff 10%); */
    background: url(../../assets/Albums/24.jpg);
    background-size: cover;
    background-position: center;
    height: 60vh;
    position: relative;
}
/* .hero::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: #597445a7;
} */
.hero h2{
    font-size: 45px;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    padding: 20px 50px;
    width: max-content;
    color: #fff;
    
}
.hero h2 a{
    text-decoration: none;
    color: var(--Audi_color);
    cursor: pointer;
    transition: all .3s;
    font-weight: 600;
}
.hero h2 a:hover{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.84);
    cursor: pointer;
}
@media  (max-width:992px) and (min-width:670px){
    .hero h2{
        font-size: 35px;
        padding: 20px 23px;
    }
}


@media  (max-width:670px){
    .hero h2{
        font-size: 27px;
        padding: 20px 23px;
    }
}
@media  (max-width:450px){
    .hero h2{
        font-size: 22px;
        padding: 20px 23px;
    }
}

