.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: var(--secondary_color);
    height: 40vh;
}
.hero h2{
    font-size: 35px;
    font-weight: 600;
}
.hero h2 a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    transition: all .3s;
}
.hero h2 a:hover{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.84);
    cursor: pointer;
}