.HJ_groupImgs {
    width: 100%;
    display: flex;
    gap: 50px;
    align-items: center;
}

.HJ_groupImgs img {
    width: 30%;
    margin-bottom: 50px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.HJ_groupImgs img:hover {
    transform: scale(120%); 
}

.Title h2 {
    font-size: 32px;
    font-family: var(--Primary-fontfamily);
    font-weight: 800;
    color: var(--green_color);
    text-align: center;
    margin-bottom: 80px;
}

@media (max-width: 992px) {
    .HJ_groupImgs {
        width: 100%;
        flex-direction: column;
    }
    .HJ_groupImgs img {
        width: 100%;
    
    }
    .HJ_groupImgs img:hover {
        transform: scale(100%);
    }

}
