.title_header{
    font-size: 45px;
    color: var(--green_color);
    text-align: center;
    margin-top: 30px;
}
.sub_title{
    text-align: center;
    color: var(--subGreen_color);
}
.photography,.cinema{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.camera_icon svg{
    font-size: 30px;
    /* color: rgb(53, 52, 52); */
    color: var(--subGreen_color);
}
.camera_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
.left_line,.right_line{
    width: 300px;
    height: 1px;
    /* background-color: var(--black-color); */
    background-color: var(--green_color);
}
.photography_list h3{
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: #5C4033;
    font-weight: 600;
}

.photography_list .choices_list {
    /* list-style: disc !important; */
    
    list-style-type: disc; 
    margin-top: 30px;
}
li::marker {
    color: #A65E2E; 
    font-size: 1.5em;
}
.photography_list .choices_list li{
    font-size: 20px;
    line-height: 40px;
    width: 100%;
        margin: 15px auto;
        
    /* color: rgb(53, 52, 52); */
    color: var(--green_color) !important;
    text-align: center;
    
}
.no_limit_text{
    color: var(--gold-color);
    font-size: 22px;
    text-align: center;
    font-weight: 600;
}
.Price{
    color: var(--gold-color);
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    margin-top: 40px;
}
.contain_package_text{
    color: var(--subGreen_color) !important;
    font-weight: 600;
    text-align: center;
    width: max-content;
    margin: 0 auto;
    font-size: 20px;
}

@media (max-width:685px){
    .left_line,.right_line{
        width: 200px !important;
        height: 1px;
        background-color: var(--black-color);
    }
    
    .title_header {
        font-size: 30px;
        color: var(--green_color);
        text-align: center;
        margin-top: 30px;
      }
      .sub_title{
        text-align: center;
        color: var(--subGreen_color);
        font-size: 16px;
    }
    .photography_list .choices_list li{
        font-size: 18px;
        width: 80%;
        margin: 15px auto;
    }
}
@media (max-width:465px){
    .left_line,.right_line{
        width: 130px !important;
        height: 1px;
        background-color: var(--black-color);
    }
    .Price{
        font-size: 30px;
        font-weight: 600;
    }
}