
.aboutus{
    position: relative;
   
}

.hero_text{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    
}
.hero_text p{
    text-align: center;
    font-size: 30px;
    line-height: 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.211); /* إضافة ظل خفيف */
    padding: 30px; 
    border-radius: 10px; 
    background-color: rgba(255, 255, 255, 0.8); /* خلفية شبه شفافة */
    color: var(--black-color);
}


@media(max-width:600px){
    .hero_text{
        width: 80%;
        
    }
}

@media(max-width:420px){
    .hero_text{
        width: 95%;
    }
    .hero_text p{
        font-size: 20px;
        line-height: 40px;
    }
}